@page
@using Microsoft.AspNetCore.Identity
@using Amazon.Extensions.CognitoAuthentication

@inject SignInManager<CognitoUser> SignInManager
@inject UserManager<CognitoUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@{ 
    var user = await UserManager.GetUserAsync(User);
}

<h4>Hello @user.Attributes[Amazon.AspNetCore.Identity.Cognito.CognitoAttribute.GivenName.AttributeName]!</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" disabled />*@
                Username : @UserManager.GetUserName(User)
            </div>

            <div class="form-group">
                @*<label asp-for="Input.EmailAddress"></label>
        <input asp-for="Input.EmailAddress" class="form-control" disabled />*@
                Email Address : @user.Attributes[Amazon.AspNetCore.Identity.Cognito.CognitoAttribute.Email.AttributeName]
            </div>
            
        </form>
    </div>
</div>

<div>
    <h4>Manage your account</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
            
                <a  asp-area="" asp-controller="Addresses" asp-action="Index">Manage Address</a>
                
        </div>
        <a asp-area="" asp-controller="Orders" asp-action="Index">Order</a>

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}