.item-col {
    margin: 0;
    padding: 0;
}

.item-right {
    border-color: black;
    border-right-width: 0;
}

.item-left {
    border-color: black;
    border-left-width: 0;
}

.book-list-card {
    padding-left: 0;
    padding-right: 0;
    border-color: black;
    margin-bottom: .25rem;
}

.book-list-card-header {
    background-color: white;
}

.item-list-btn-link {
    color: black;
}

.website-text {
    font-family: 'Arvo',serif;
}

.cant-find-book {
    padding-top: .375rem;
}
