@model AdminSite.ViewModel.ManageOrders.ManageOrderViewModel;

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/pagination.css"/>
</head>

<ul class="list-group-horizontal list-group text-center">
    @if (Model.HasPreviousPages)
    {
        var prevPag = new Dictionary<string, string>
        {
            { "filterValue", Model.FilterValue },
            { "searchString", Model.SearchString },
            { "filterValueText", Model.FilterValueText },
            { "pageNum", $"{Model.CurrentPage - 1}" }
        };

        <a class="page-num page-num-prev website-text" asp-controller="Orders" asp-action="Index" asp-all-route-data="prevPag">
            Previous
        </a>
    }
    @foreach (var page in Model.Pages)
    {
        if (Model.CurrentPage == page)
        {
            <li class="list-group-item page-num website-text">
                <span>@(page)</span>
            </li>
        }
        else
        {
            var pag = new Dictionary<string, string>
            {
                { "filterValue", Model.FilterValue },
                { "searchString", Model.SearchString },
                { "filterValueText", Model.FilterValueText },
                { "pageNum", $"{page}" }
            };
            <li class="list-group-item page-num website-text">
                <a asp-controller="Orders" asp-action="Index" asp-all-route-data="pag">@(page)</a>
            </li>
        }
    }
    @if (Model.HasNextPages)
    {
        var nextPag = new Dictionary<string, string>
        {
            { "filterValue", Model.FilterValue },
            { "searchString", Model.SearchString },
            { "filterValueText", Model.FilterValueText },
            { "pageNum", $"{Model.CurrentPage + 1}" }
        };

        <a class="page-num page-num-next website-text" asp-controller="Orders" asp-action="Index" asp-all-route-data="nextPag">
            Next
        </a>
    }
</ul>
