.text {
    font-family: 'Arvo', serif;
}

.login-button {
    font-weight: normal;
    font-family: 'Arvo',serif;
    padding: .6em;
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
    background-color: #7D53DE;
    min-width: 10rem
}
