@model BobBookstore.Models.ViewModels.BookViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <h2>Name: @Html.DisplayFor(modelitem => Model.BookName)</h2>
    <h4>Genre: @Html.DisplayFor(modelitem => Model.GenreName)</h4>
    <h4>Type: @Html.DisplayFor(modelitem => Model.TypeName)</h4>
<p>Add to cart</p>
