@model IEnumerable<BobBookstore.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<h2>Search</h2>

<p>Books</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ISBN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
            </tr>
        }
    </tbody>
</table>

