<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bob's Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/googlefont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<canvas id="bar" width="1000" height="333">
</canvas>
<br/>
<br/>
<br/>
<canvas id="pie" width="600" height="333"></canvas>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
