<span class="navbar-text me-2">
    Hello @User.Identity.Name!
</span>

<div class="hstack gap-2">
    <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">Customer Portal</a>
    <div class="vr"></div>
    <a class="nav-link" asp-area="" asp-action="LogOut" asp-controller="Authentication">Logout</a>
</div>