.main-color-text {
    font-family: 'Arvo', sans-serif;
    color: black;
    padding: .5rem;
    display: block;
}

    .main-color-text:hover {
        color: #7D53DE;
    }

.nav-background-color {
    background-color: white;
}
