@{
    ViewData["Title"] = "Home";
}

<div class="container align-content-center">
    <div class=" container">
        @Html.ActionLink("Login/Register", "WelcomePage", "Home", null, new { @class = "btn-group-sm btn btn-outline-light btn btn-primary" })
    </div>
</div>
