@{
    ViewData["Title"] = "Home";
}
@*The view for when is the user is logged in*@

@if (User.Identity.IsAuthenticated)
{
    
        <div class="position-relative overflow-hidden p-0 m-0 text-center">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Bob's Used Bookstore</h1>
                <p class="lead font-weight-normal">Manage your workspace</p>
                @Html.ActionLink("Manage", "WelcomePage", "Home", null, new { @class = "btn-group-sm btn btn-outline-light btn btn-dark" })
            </div>
        </div>
    

}
@*the carousel for when the user is not authenticated*@
else
{
    @* <partial name="~/Views/Home/Partials/_UnAuthIndex.cshtml" />*@
    <div class="position-relative overflow-hidden p-3 m-md-3 text-center ">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Bob's Used Bookstore</h1>
            <p class="lead font-weight-normal">Login in to manage your workspace</p>
            @Html.ActionLink("Login", "WelcomePage", "Home", null, new { @class = "btn-group-sm btn btn-outline-light btn btn-dark" })
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="card-deck pb-4 mb-4">
        <div class="card border-dark">
            <img src="/css/Images/orderManage.jpg" height="167" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">View Orders</h5>
                <p class="card-text">An easy to use filter for viewing all orders with ease. Retrieve relevant orders based on attrbutes.</p>
            </div>
        </div>
        <div class="card border-dark">
            <img src="/css/Images/searchInventory.jpg" height="166" card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Manage Inventory</h5>
                <p class="card-text">Manage all the inventory in one place. Add relevant book attributes. Update existing book details.</p>

            </div>
        </div>
        <div class="card border-dark">
            <img src="/css/Images/manageOrder.jpg" height="162" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Manage Orders</h5>
                <p class="card-text">Manage the status of your orders. Update and track existing orders. View all details in one place.</p>
            </div>
        </div>
    </div>

}
