@model BOBS_Backend.ViewModel.UpdateBooks.BookUpdates;
@{
    ViewData["Title"] = "Welcome Page";
    var books = Model;
    

}

<h1 class="text-md-center">Welcome  @User.Claims.FirstOrDefault(c=> c.Type.Equals("cognito:username"))?.Value</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <partial name="~/Views/Home/Partials/ImportantOrders.cshtml" />
            </div>
        </div>
        <div class="col-lg-6">
            <partial name="~/Views/Home/Partials/LastUpdated.cshtml" model="books" />
        </div>
    </div>

</div>


<partial name="~/Views/Home/Partials/WelcomePageInventory.cshtml" />
<br />





