@{
    ViewData["Title"] = "Welcome Page";
}
<h1 class="text-md-center">Welcome @TempData["Username"]</h1>

<div class="container align-content-center">
    <div class=" container small">
        <button class="btn btn-sm btn-block btn-primary btn-outline-light" type="button">Add Inventory</button>
    </div>
    <div class=" container small">
        <button class="btn btn-sm btn-block btn-primary btn-outline-light" type="button">Manage Order</button>
    </div>
    <div class="container small">
        <button class="btn btn-sm btn-block btn-primary btn-outline-light" type="button">Manage Inventory</button>
    </div>
</div>