@{
    ViewData["Title"] = "Welcome Page";
}
<h1 class="text-md-center">Welcome @TempData["Username"]</h1>

<div class="container align-content-center">
    <div class=" container small">
        @Html.ActionLink("Add Inventory", "EditBookDetails", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    <div class=" container small">
        @Html.ActionLink("Manage Orders", "Index", "Orders", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
   
    <div class=" container small">
        @Html.ActionLink("Manage Inventory", "Search", "Inventory", null, new { @class = "btn btn-primary btn-large btn-block btn-outline-light" })
    </div>
    
</div>

