@model  IEnumerable<BobsBookstore.Models.Books.Resale> 
@{ ViewData["Title"]="Index" ; }

<style>
    .card-border {
        border-radius: 2px 2px 2px 2px;
    }
</style>
<div class="text-center">
    <h2 style="font-family: 'Arvo', serif; color: black;">Manage Resale Books</h2>
</div>
<div class="card shadow card-border border-dark mb-3" style="font-family: 'Arvo', sans-serif;">
    <div class="card-body" >
        <div class="p-0 m-0">
            <table class="table_font  table  table-striped table-hover ">

                <thead>
                    <tr>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>



                    </tr>
                </thead>
                @foreach (var b in Model)
                {
                    var param = new Dictionary<string, string>{
                                         {"id",b.Resale_Id + ""}
                                        };
            <tr>
                <td>@b.BookName</td>
                <td>@b.Author</td>
                <td>@b.GenreName</td>
                <td>@b.ResaleStatus.Status</td>
                <td>
                    <a class="card-link" asp-action="Details" asp-controller="Resale" asp-all-route-data="param">Details</a>

                </td>
            </tr>}
            </table>
        </div>
    </div>
</div>



