@{
    ViewData["Title"] = "Error";
}

<style>
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .error-actions .btn {
            margin-right: 10px;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                     Error Code @ViewData["StatusCode"]
                    
                </h2>
                <div class="error-details">
                    
                    Sorry, an error has occured
                </div>
                <div class="error-actions">
                    <a href="javascript:history.go(-1)" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Back
                    </a>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
