.submit-button {
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-color: #7D53DE;
    background-color: #7D53DE;
    color: white;
}

    .submit-button:hover {
        color: white;
    }

.website-text {
    font-family: 'Arvo',serif;
}
