.table_font {
    font-size: 13px;
}

.captiontable {
    caption-side: top;
    text-align: center;
}

a.tableSort {
    color: inherit;
}

tab-custom {
    position: relative;
    z-index: 1;
    padding: 0.7rem;
    margin-bottom: -20px;
    background-color: #2B3A67;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


.font_format a:active {
    color: red;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #7D53DE;
    border-color: #dee2e6 #dee2e6 #343a40;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .5rem;
    border-top-right-radius: .25rem;
    color: black;
}

.nav-tabs {
    border-bottom: 1px solid #7D53DE;
}

.text {
    font-family: 'Arvo', serif;
}

.login-button {
    font-weight: normal;
    font-family: 'Arvo', serif;
    padding: .6em;
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
    background-color: #7D53DE;
    min-width: 10rem
}

