@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text me-2">
        Hello @User.Identity.Name!
    </span>

    <a class="nav-link" asp-action="LogOut" asp-controller="ExternalAuthentication">Logout</a>
}
else
{
    <a class="nav-link" asp-action="Dashboard" asp-controller="Home">Log In</a>
}