@model BobBookstore.Models.Carts.CartItem

@{
    ViewData["Title"] = "Delete";
}
    <head>
        <meta charset="UTF-8">
        <title>>Book Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#03a6f3">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://dtdt6j0vhq1rq.cloudfront.net/owl.carousel.min.css">
        <link rel="stylesheet" href="https://dtdt6j0vhq1rq.cloudfront.net/styles.css">

    </head>
<h1>Remove</h1>

<h3>Are you sure you want to Remove this book?</h3>
<div>
    <h4>(｡•́︿•̀｡)</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CartItem_Id" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
