@model Bookstore.Domain.Books.BookType

@{
    var status = (string)ViewData["Status"];
}

<head>
    <link rel="stylesheet" href="/css/Inventory/addbooktypes.css"/>
</head>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center font-weight-light modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="main-text">@status</div>
                </div>
            </div>
            <div class="modal-footer">
                <button style="margin-left:5%" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@if (status.Contains("already"))
{
    <script type="text/javascript">
        $(
            function () {
                $('#exampleModal').modal('show');

            });
    </script>
}

<div class="login-page">
    <div class="form">
        <form class="login-form" enctype="multipart/form-data" asp-controller="Inventory" asp-action="AddBookTypes" method="post" style="padding-bottom: 0px;">
            <div asp-validation-summary="All"></div>
            <h1 class="main-text title-1 text-center font-weight-light" style="margin-bottom:10%; margin-top:1%">
                ADD NEW FORMAT
            </h1>
            <input class="main-text" asp-for="TypeName" style="margin-top:1%;height:3%" type="text" required placeholder="FORMAT NAME"/>
            <button class="main-text" type="submit">SUBMIT</button>
            <a asp-controller="Inventory" asp-action="EditType">Edit Types</a>
        </form>
    </div>
</div>
