@using Bookstore.Domain.ReferenceData

@model Bookstore.Admin.ViewModel.Inventory.InventoryCreateUpdateViewModel
@{
    ViewData["Title"] = "Add/Edit Book";
    var errorstatus = (string)ViewData["ErrorStatus"];
    var error = (string)ViewData["Error"];
    var check = (string)ViewData["check"];
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center font-weight-light modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span class="main-text">Please re-upload the photos as they violate one or more of our content policies</span>
                    <ol>
                        <li class="main-text">Photo must be of type .jpg or .png or .gif</li>
                        <li class="main-text">Photo content must not contain profanity</li>
                        <li class="main-text">Photo must be that of a book</li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button style="margin-left:5%" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (errorstatus == "Yes")
{
    <script type="text/javascript">
        $(
            function () {
                $('#exampleModal').modal('show');
            }
        );
    </script>
}

<h1 class="text-center">ADD BOOK</h1>

<div asp-validation-summary="All"></div>

<form class="needs-validation" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="BookId" />

    <div class="row justify-content-center">
        <div class="col-4">
            <input type="text" class="form-control mb-3" asp-for="BookName" placeholder="BOOK NAME" required />
            <input type="text" class="form-control mb-3" asp-for="Author" placeholder="AUTHOR" required />
            <input type="text" class="form-control mb-3" asp-for="ISBN" placeholder="ISBN" required />

            <div class="row">
                <div class="col">
                    <input type="number" class="form-control mb-3" asp-for="Price" placeholder="PRICE" step="0.01" required />
                </div>
                <div class="col">
                    <input type="number" class="form-control mb-3" asp-for="Quantity" placeholder="QUANTITY" required />
                </div>
            </div>

            <textarea class="form-control mb-3" asp-for="Summary" rows="4" placeholder="DESCRIPTION"></textarea>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="col-10">
                    <select class="form-select mb-3" asp-for="PublisherName" asp-items="Model.Publishers" required>
                        <option value="">Select the publisher</option>
                    </select>
                </div>
                <div class="col-2">
                    <a class="mb-3" asp-action="Create" asp-controller="ReferenceData" asp-route-selectedReferenceDataType="@ReferenceDataType.Publisher">Add</a>
                </div>

                <div class="col-10">
                    <select class="form-select mb-3" asp-for="Genre" asp-items="Model.Genres" required>
                        <option value="">Select the genre</option>
                    </select>
                </div>
                <div class="col-2">
                    <a class="mb-3" asp-action="Create" asp-controller="ReferenceData" asp-route-selectedReferenceDataType="@ReferenceDataType.Genre">Add</a>
                </div>

                <div class="col-10">
                    <select class="form-select mb-3" asp-for="BookType" asp-items="Model.BookTypes" required>
                        <option value="">Select the type</option>
                    </select>
                </div>
                <div class="col-2">
                    <a class="mb-3" asp-action="Create" asp-controller="ReferenceData" asp-route-selectedReferenceDataType="@ReferenceDataType.BookType">Add</a>
                </div>

                <div class="col-10">
                    <select class="form-select mb-3" asp-for="BookCondition" asp-items="Model.BookConditions" required>
                        <option value="">Select the condition</option>
                    </select>
                </div>
                <div class="col-2">
                    <a class="mb-3" asp-action="Create" asp-controller="ReferenceData" asp-route-selectedReferenceDataType="@ReferenceDataType.Condition">Add</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="mb-3">
                <label asp-for="FrontPhoto" class="form-label">Front Picture</label>
                <input type="file" class="form-control" asp-for="FrontPhoto">
            </div>

            <div class="mb-3">
                <label asp-for="BackPhoto" class="form-label">Back Picture</label>
                <input asp-for="BackPhoto" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="LeftSidePhoto" class="form-labell">Left Picture</label>
                <input asp-for="LeftSidePhoto" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="RightSidePhoto" class="form-label">Right Picture</label>
                <input asp-for="RightSidePhoto" class="form-control">
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2 d-grid gap-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>