@using Type = Type
@model AdminSite.ViewModel.ManageInventory.EditViewModel

@{
    var status = (string)ViewData["Status"];
    var types = (List<Type>)ViewData["Types"];
}


<head>
    <link rel="stylesheet" href="/css/Inventory/edittype.css"/>
</head>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center font-weight-light modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span class="main-text">@status</span>
                </div>
            </div>
            <div class="modal-footer">
                <button style="margin-left:5%" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@if (!string.IsNullOrEmpty(status))
{
    <script type="text/javascript">
        $(
            function () {
                $('#Modal').modal('show');

            }
        );
    </script>
}

<form asp-controller="Inventory" asp-action="EditType" method="post">
    <div class="login-page" style="margin-left:5%; height:60%">
        <div class="form" style="width: 200%;height:350px;margin-left:20%">
            <h1 class="main-text title-1 text-center font-weight-light" style="margin-bottom:5%; margin-top:1%">
                EDIT TYPE DETAILS
            </h1>
            <select asp-for="Actual" style="margin-bottom:5%; width:40%;height:20%" class="list text-lg-center font-weight-light" id="list" onchange="LoadText();">
                <option selected value="Hey">Select the type</option>
                @foreach (var type in types)
                {
                    <option value="@type.TypeName">@type.TypeName</option>
                }
            </select>
            <button type="button" class="main-text btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="text" id="name" name="name" asp-for="Edited"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/Inventory/edittype.js"></script>
