@page
@using Microsoft.AspNetCore.Identity
@using Amazon.Extensions.CognitoAuthentication

@inject SignInManager<CognitoUser> SignInManager
@inject UserManager<CognitoUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@{ 
    var user = await UserManager.GetUserAsync(User);
}



<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom-style.css">

</head>

<body>
    <h2>Hello @user.Attributes[Amazon.AspNetCore.Identity.Cognito.CognitoAttribute.GivenName.AttributeName]!</h2>
    <div class="container bg-cover">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <h4>Username</h4><br />
                @UserManager.GetUserName(User)<br /><br />
                <h4>Email address</h4><br />
                @user.Attributes[Amazon.AspNetCore.Identity.Cognito.CognitoAttribute.Email.AttributeName]
            </div>
            <div class="col-4 text-center">
                <h4>Manage your account</h4><br />
               
                <partial name="_ManageNav" />
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}