<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Search" asp-action="Index" title="Manage" style="padding-top: 0.8rem">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-controller="Authentication" asp-action="LogOut">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Log in</a>
        </li>
    }
</ul>