@model BookstoreBackend.ViewModel.UpdateBooks.LatestUpdates;
@{
    ViewData["Title"] = "Welcome Page";
    var updates = Model;
}

<head>
    <link rel="stylesheet" href="/css/Home/welcomepage.css"/>
</head>

<div class="container-fluid" style="font-family: 'Arvo', sans-serif;">
    <ul class="tab-custom nav nav-tabs mb-3 " id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class=" font_format nav-link active" id="order-tab" data-toggle="tab" role="tab" aria-controls="order" aria-selected="true" href="#order">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="book-tab" data-toggle="tab" role="tab" aria-controls="book" aria-selected="false" href="#book">My Inventory Updates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="global-tab" data-toggle="tab" role="tab" aria-controls="global" aria-selected="false" href="#global">Global Inventory Updates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddPublishers" asp-controller="Inventory">Add Publisher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddGenres" asp-controller="Inventory">Add Genre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddBookTypes" asp-controller="Inventory">Add Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AddBookConditions" asp-controller="Inventory">Add Condition</a>
        </li>
    </ul>

    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
            <partial name="~/Views/Home/Partials/ImportantOrders.cshtml" model="updates"/>
        </div>
        <div class="tab-pane fade" id="book" role="tabpanel" aria-labelledby="book-tab">
            <partial name="~/Views/Home/Partials/LastUpdated.cshtml" model="updates"/>
        </div>
        <div class="tab-pane fade" id="global" role="tabpanel" aria-labelledby="global-tab">
            <partial name="~/Views/Home/Partials/GlobalBookUpdates.cshtml" model="updates"/>
        </div>
    </div>
</div>
<br/>
