@{ 
    ViewData["Title"] = "Hello World";
}
@model BOBS_Backend.ViewModel.ProcessOrders.ProcessOrderViewModel;
@{ 
    var fullOrder = Model.FullOrder;

    var orderStatus = Model.Statuses;

    var orderStatusWidth = "0";


    if (fullOrder.Order.OrderStatus.OrderStatus_Id == 1) orderStatusWidth = "25%";
    else if (fullOrder.Order.OrderStatus.OrderStatus_Id == 2) orderStatusWidth = "50%";
    else if (fullOrder.Order.OrderStatus.OrderStatus_Id == 3) orderStatusWidth = "75%";
    else if (fullOrder.Order.OrderStatus.OrderStatus_Id == 4) orderStatusWidth = "100%";
}

<div class="container">
    <div class="text-center">
        <h2>Process Order</h2>
    </div>

    <div class="progress" style="height: 20px;  margin-top:25px; margin-bottom:45px;">
        <div id="order-status-progress-bar" style="width:@orderStatusWidth;" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <div class="text-left col-3">
            <a asp-controller="Orders" asp-action="Index" class="card-link"> 
                <svg class="bi bi-chevron-left" width="24" height="24" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" /></svg>
                Manage Orders
            </a>
        </div>
        <div class="text-center col-6">
            <h3>Status: @fullOrder.Order.OrderStatus.Status</h3>
        </div>
        <div class="col-3 text-right">
            <partial name="./Partials/_UpdateOrderStatus" model="Model"/>
        </div>
    </div>

    <div class="row" style="margin-top:35px">
        <div class="text-left col-12">
            <h4>Order Details:</h4>
        </div>
    </div>

    <div class="row" style="margin-top:35px">

        <div class="col-3">
            <partial name="./Partials/_OrderInfo" model="fullOrder" />
        </div>

        <div class="col-5">
            <partial name="./Partials/_CustomerInfo" model="fullOrder" />
        </div>

        <div class="col-4">
            <partial name="./Partials/_AddressInfo" model="fullOrder" />
        </div>
    </div>

    <div class="row" style="margin-top:35px">

        <div class="col-12">
            <partial name="./Partials/_BookList" model="fullOrder" />
        </div>
    </div>

    <div class="row" style="margin-top:35px">
        <div class="col-12">
            <h4>Expected Delivery Date: @DateTime.Parse(fullOrder.Order.DeliveryDate).ToString("MM/dd/yyyy")</h4>
        </div>

    </div>
</div>
