[Unit]
Description=Bobs Bookstore App

[Service]
WorkingDirectory=/var/www/bobsbookstore
ExecStart=/usr/bin/dotnet /var/www/bobsbookstore/Bookstore.Web.dll --AWS:Service "EC2"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10000
KillSignal=SIGINT
SyslogIdentifier=bobsbookstore
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
