<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bob's Used Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom-style.css">
</head>

<body>
    <partial name="_NavBarPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col timing">
                    <h4>Our Address</h4>
                    <!-- sample data! -->
                    <h6>123 Any Street, Any Town, USA</h6>
                    <h6>Call: 555-0100</h6>
                    <h6>Email: staff@BobsUsedBooks.com</h6>
                </div>

                <div class="col timing">
                    <h4>Store Hours</h4>
                    <h6>Mon - Fri: 8am - 10pm</h6>
                    <h6>Saturday: 10am - 8pm</h6>
                    <h6>Sunday: 11am - 5pm</h6>
                </div>

                <div class="col navigation">
                    <h4>Navigation</h4>
                    <ul>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">View Orders</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">Search Books</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <br />
            &copy;
            <span id="year">
                @DateTime.Now.Year
            </span>
            - Bob's Used Books - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    @RenderSection("Scripts", false)
</body>
</html>
