<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Bob's Used Books</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Orders" asp-action="Index">My Orders</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Search" asp-action="Index">Search</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Resale" asp-action="Index">Resell my Books</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Wishlist" asp-action="Index">Wish List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                    </li>
                </ul>
            </div>

            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>