@if (TempData["Notification"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Notification"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}