<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="main-color-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="padding-top: 0.55rem">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "LogOut", "ExternalAuthentication")
        </li>
    }
    else
    {
        <li class="nav-item">
            @Html.ActionLink("Log In", "Index", "Resale")
        </li>
    }
</ul>