<header>
    <nav class="navbar navbar-expand-lg mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Bob's Used Bookstore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="WelcomePage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Orders" asp-action="Index">Manage Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropdownMenuLink-333" aria-haspopup="true" aria-expanded="false">
                            Inventory
                        </a>
                        <ul class="nav-background-color dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <li><a class="dropdown-item" asp-controller="Inventory" asp-action="EditBookDetails">Add New Book</a></li>
                            <li><a class="dropdown-item" asp-controller="Inventory" asp-action="SearchBeta">Search Inventory</a></li>
                            <li><a class="dropdown-item" asp-controller="Inventory" asp-action="Dashboard">Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Resale" asp-action="Index">Resale Books</a>
                    </li>
                </ul>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <div class="navbar-collapse collapse">
                            <partial name="_LoginPartial" />
                        </div>
                </ul>
            </div>
        </div>
    </nav>
</header>