@model Bookstore.Web.ViewModel.Search.SearchIndexViewModel
@{
    ViewData["Title"] = "Search";
}

<partial name="_Notification" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item h5 active" aria-current="page">Search</li>
    </ol>
</nav>

<form asp-controller="Search" asp-action="Index" method="get">
    <div class="row mb-4">
        <div class="col-10">
            <input class="form-control" type="text" name="SearchString" asp-for="SearchString" placeholder="Search by title" />
        </div>

        <div class="col-2">
            <button type="submit" class="btn btn-primary w-100" value="Search">Search</button>
        </div>
    </div>
</form>

@if (Model.Books.Count > 0)
{
    <div class="row">
        @foreach (var item in Model.Books)
        {
            <div class="col-md-2 mb-3">
                <a asp-controller="Search" asp-action="Details" asp-route-id="@item.BookId" class="text-decoration-none">
                    <div class="card hover-card h-100">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="px-1 pt-1" alt="img" />

                        <div class="card-body d-flex flex-column">
                            <h6 class="text-center pb-3">@item.BookName</h6>

                            <div class="mt-auto">
                                @if (item.Quantity > 0)
                                {
                                    <h6 class="text-center">@item.Price.ToString("C")</h6>
                                }
                                else
                                {
                                    <h6 class="text-center">Out Of Stock</h6>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div>
        <partial name="_paginator" />
    </div>
}
else
{
    <h3 class="text-center">No results found.</h3>
}