@model  BobsBookstore.Models.Customers.Customer;

<head>
    <link rel="stylesheet" href="/css/Resale/Partials/customerresaleinfo.css"/>
</head>

<div class="card card-custom shadow">
    <div class="card-custom-header text-center website-text">
        Customer Info
    </div>
    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">Customer Name: @Model.FirstName @Model.LastName</li>
        <li class="card-custom-li-item card-custom-li-last-item website-text">Email: @Model.Email</li>
    </ul>
</div>
