@model Bookstore.Web.ViewModel.Checkout.CheckoutFinishedViewModel

<div class="panel-body">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="middle" align="center">
                <h2>Order Placed Successfully!</h2>

            </td>

        </tr>
    </table>

    <br />
    <br />
    <div class="container" style="text-align: center">
        <ul class="time-horizontal">
            <li style="color:red"><b></b>Cart</li>
            <li style="color:red"><b></b>Choose Address</li>
            <li style="color:red"><b></b>Finish</li>
        </ul>
    </div>
    <br />
    <br />

    <table class="table" width="700">
        <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                name
            </th>
            <th>
                price
            </th>
            <th>quantity</th>
            <th>total</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            var total = item.Price * item.Quantity;
            <tr>
                <td>
                    <img src="@item.Url" height="80" width="50" onerror="this.onerror=null;this.src='/images/default_c.jpg';" />
                </td>
                <td>
                    @item.Bookname
                </td>

                <td>
                    $@item.Price
                </td>

                <td>
                    @item.Quantity
                </td>

                <td>
                    $@total
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-controller="Home" asp-action="Index">Back to home</a>
</div>
