@{
    ViewData["Title"] = "Home Page";
}

<style>
    .carousel-item {
        height: 110vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        background-size: cover;
    }
</style>


<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F6%2F2016%2F09%2Fhpsorcstone.jpg') ">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Fiction</h2>
                    <p class="lead">Harry Potter.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://i.harperapps.com/hcanz/covers/9780008295578/y648.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Fiction</h2>
                    <p class="lead">Game of Thrones.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/61tr6p1BGEL.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Education</h2>
                    <p class="lead">Learn AWS!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4">More books coming soon</h1>
    </div>
</section>
