<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" width="100%" height="400px" src="~/css/Images/bgBlack.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>Manage all your books here</h1>

                    <p>
                        @Html.ActionLink("Manage", "WelcomePage", "Home", null, new { @class = "btn-group-sm btn btn-outline-light btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>