

<div class="table-responsive-sm p-0 m-0">
    <table class="table_font table table-sm table-hover table-bordered w-auto h-auto">
        <caption class="p-0 text-dark captiontable"> Important Orders</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order_ID</th>
                <th scope="col">Customer_ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Total Price</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Status</th>
                <th scope="col"> Action</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>011</td>
                <td>200</td>
                <td>Jaideep Bhide</td>
                <td>$10</td>
                <td>08/01/2020</td>
                <td>En-Route</td>
                <td><a class="card-link" href="#">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
