@using Newtonsoft.Json
@model BookstoreBackend.ViewModel.ManageOrders.ManageOrderViewModel;
@{
    ViewData["Title"] = "Hello";
}
@{
    var orders = Model.Orders;

}

    <body>
        <div class="" style="margin-left:10%; margin-right:10%" >
            <div class="text-center">
                <h2 style="font-family: 'Arvo', serif; color: black;">Manage Orders</h2>
            </div>
            <div class="row" style="margin:15px;">
                <partial name="./Partials/_Search" model="Model" />

            </div>

            <div class="row">
                <partial name="./Partials/_DisplayOrders" model="orders" />

            </div>

            <div class="row d-flex justify-content-center" style="margin-top:35px;">

                <partial name="./Partials/_Pagination" model="Model" />
            </div>
        </div>
    </body>

