@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="text-center">
        <h2>Error</h2>
        <p>Sorry, an error has occurred. Please refresh the page or go back to the previous page</p>
    </div>
</div>
 