@model BobsBookstore.Models.Books.Resale

<style>
    .main-text {
        font-family: 'Arvo', serif
    }
</style>

<div class="panel-body">

    <div>
        <div>
            <div>
                <h1>
                    Fill in the book details
                </h1>

            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="main-text form-check-label text-secondary" asp-for="BookName">Book Name</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="BookName" required />
                    <span asp-validation-for="BookName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="main-text form-check-label text-secondary" asp-for="Author">Author</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="Author" required />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="main-text form-check-label text-secondary" asp-for="GenreName">Genre</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="GenreName" required />
                    <span asp-validation-for="GenreName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="main-text form-check-label" asp-for="PublisherName">Publisher</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="PublisherName" required />
                    <span asp-validation-for="PublisherName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="main-text form-check-label" asp-for="TypeName">Book Type</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="TypeName" required />
                    <span asp-validation-for="TypeName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="main-text form-check-label" asp-for="ISBN">ISBN</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="ISBN" required />
                    <span asp-validation-for="ISBN" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label class="main-text form-check-label" asp-for="ConditionName">Condition</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="ConditionName" required />
                    <span asp-validation-for="ConditionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="main-text form-check-label" asp-for="BookPrice">Book Price</label>
                    <input class="main-text form-control bg-light text-dark" asp-for="BookPrice" required />
                    <span asp-validation-for="BookPrice" class="text-danger"></span>
                </div>
                <hr class="mt-2 mb-5">
                <div class="form-group row">
                    <label asp-for="FrontUrl" class="main-text col-sm-2 col-form-label">FRONT PICTURE</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="FrontUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="BackUrl" class="main-text col-sm-2 col-form-label">BACK PICTURE</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="BackUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LeftUrl" class="main-text col-sm-2 col-form-label">LEFT PICTURE</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="LeftUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="RightUrl" class="main-text col-sm-2 col-form-label">RIGHT PICTURE</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="RightUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="main-text btn text-white font-weight-bold" style="width:20% ;background-color: #7D53DE" type="submit">SUBMIT</button>
                </div>
                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        });</script>
                }

            </form>
        </div>

        @* <div class="container">
                <div class="row">
                    <div class="col-sm">

                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="FrontUrl" class="main-text col-sm-2 col-form-label">Front Cover</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="FrontUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="BackUrl" class="main-text col-sm-2 col-form-label">Back Cover</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="BackUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LeftUrl" class="main-text col-sm-2 col-form-label">Left Cover</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="LeftUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="RightUrl" class="main-text col-sm-2 col-form-label">Right Cover</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="RightUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="AudioBookUrl" class="main-text col-sm-2 col-form-label">Audio Book Url</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="AudioBookUrl" class="main-text form-control custom-file-input">
                            <label class="main-text custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="main-text form-control bg-light text-dark" asp-for="Summary" placeholder=" Please enter the Book Summary / Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>*@


    </div>
</div>




