@using Microsoft.AspNetCore.Identity
@using Amazon.Extensions.CognitoAuthentication
@inject SignInManager<CognitoUser> SignInManager
@inject UserManager<CognitoUser> UserManager
@{ var user = await UserManager.GetUserAsync(User); }
@{ ViewBag.Title = "title"; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bob's Used Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/welcomepage.css" />
    <link rel="stylesheet" href="~/css/ErrorPages.css" />
</head>
<body>

    <style>
        .main-color-text {
            font-family: 'Arvo', sans-serif;
            color: black;
            padding: .5rem;
            display: block;
        }

            .main-color-text:hover {
                color: #7D53DE;
            }

        .nav-background-color {
            background-color: white;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark  nav-background-color  box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="main-color-text" asp-controller="Home" asp-action="Index">Bob's Used Bookstore</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {

                                    <li class="nav-item">
                                        <a class="main-color-text" asp-area="" asp-controller="Home" asp-action="WelcomePage">Home</a>
                                      </li>
                                    <li class="nav-item">
                                        <a class="main-color-text" asp-area="" asp-controller="Orders" asp-action="Index">Manage Orders</a>
                                    </li>
                                                    <li class="nav-item dropdown">
                                                        <a class="main-color-text dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            Inventory
                                                        </a>
                                                        <div class="nav-background-color dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                                            <a class="dropdown-item main-color-text" asp-controller="Inventory" asp-action="EditBookDetails">Add New Book</a>
                                                            <a class="dropdown-item main-color-text" asp-controller="Inventory" asp-action="SearchBeta">Search Inventory</a>
                                                            <a class="dropdown-item main-color-text" asp-controller="Inventory" asp-action="Dashboard">Dashboard</a>

                                                        </div>
                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="main-color-text" asp-area="" asp-controller="Resale" asp-action="Index">Resale Books</a>
                                                                    </li>}
                    </ul>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">


                            <div class="navbar-collapse collapse">
                                <partial name="_LoginPartial" />
                            </div>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fluid pb-5 mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="bottom:0;">
        <div class="container-fluid">
            &copy; <span id="year"></span> - Bob's Used Bookstore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>

