@{ ViewData["Title"] = "Privacy Policy"; }

<div class="panel-body">
    <section class="about-sec">
        <div class="about-img">
            <figure style="background: url(/images/privacy.jpg)no-repeat;background-size: 100%"></figure>
            @*Photo by Amol Tyagi (https://unsplash.com/@amoltyagi2?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
                *@
        </div>
        <div class="about-content">
            <h2>Privacy Policy</h2>
            <p>
                This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.

                We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.
            </p>
            <p>
                While using our Site, we may ask you to provide us with certain personally identifiable information that can be
                used to contact or identify you. Personally identifiable information may include, but is not limited to your
                name, email address, mailing address, and phone number.
            </p>
        </div>
    </section>
</div>
