@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
}

@media (max-width: 420px) {
}
