@using Bookstore.Domain.ReferenceData

@model Bookstore.Web.Areas.Admin.Models.ReferenceData.ReferenceDataIndexViewModel

@{
    ViewData["Title"] = "Reference Data";
}

<div class="d-flex m-3">
    <h5 class="me-auto">Reference Data</h5>

    <a class="btn btn-primary" asp-controller="ReferenceData" asp-action="Create">
        New Reference Data Item
    </a>
</div>

<div class="card mx-3">
    <div class="card-body">
        <form class="row row-cols-lg-auto g-3 align-items-center" method="get">
            <div class="col-12">
                <label class="visually-hidden" for="referenceDataTypeSelect">Reference data type</label>
                <select id="referenceDataTypeSelect" class="form-select" asp-for="Filters.ReferenceDataType" asp-items="Html.GetEnumSelectList<ReferenceDataType>()">
                    <option value="">All Reference Data Types</option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>

            <div class="col-12">
                <a class="btn btn-secondary" asp-action="Index">Clear</a>
            </div>
        </form>
    </div>
</div>

<div class="card m-3">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator")
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Text</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count() == 0)
                {
                    <tr>
                        <td colspan="10" rowspan="4" style="text-align:center;">
                            <span>No Updates Currently</span>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.ReferenceDataType</td>
                            <td>@item.Text</td>
                            <td>
                                <a class="card-link" asp-controller="ReferenceData" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-end">
            @await Html.PartialAsync("_Paginator")
        </div>
    </div>
</div>