@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@*<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Send Code.</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <hr />

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" asp-page-handler="First" class="btn btn-default"style="background-color: #2D99F9 ;color: #FFFFFF">Send Code</button>
        </form>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                
                <input type="hidden" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ResetToken"></label>
                <input asp-for="Input.ResetToken" class="form-control" />
                <span asp-validation-for="Input.ResetToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" asp-page-handler="Second" class="btn btn-default"style="background-color: #2D99F9 ;color: #FFFFFF">Reset your password</button>
        </form>
    </div>
</div>*@

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>reset password</title>

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"><img src=" https://dtdt6j0vhq1rq.cloudfront.net/ResetPasswordnew.jpg" height="800" width="1200" /></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Reset password!</h1>
                            </div>
                            <form method="post">
                                <h4>Enter E-mail.</h4>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <hr />

                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <button type="submit" asp-page-handler="First" class="btn btn-default" style="background-color: #2D99F9 ;color: #FFFFFF">Send Code</button>
                            </form>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="form-group">

                                    <input type="hidden" asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ResetToken"></label>
                                    <input asp-for="Input.ResetToken" class="form-control" />
                                    <span asp-validation-for="Input.ResetToken" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.NewPassword"></label>
                                    <input asp-for="Input.NewPassword" class="form-control" />
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" asp-page-handler="Second" class="btn btn-default" style="background-color: #2D99F9 ;color: #FFFFFF">Reset your password</button>
                            </form>
                            <hr>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}