@model AdminSite.ViewModel.ManageOrders.PartialOrderViewModel;

<head>
    <link rel="stylesheet" href="/css/Orders/Partials/orderinfo.css"/>
</head>
<div class="card card-custom shadow">
    <div class="card-custom-header text-center website-text">
        Order Info
    </div>
    @{
        var total = Model.Order.Subtotal + Model.Order.Tax;
    }
    <ul class="list-group list-group-flush">
        <li class="card-custom-li-item  website-text">Order Id: @Model.Order.Order_Id</li>
        <li class="card-custom-li-item  website-text">Total Cost: $@total</li>
        <li class="card-custom-li-item  website-text">Subtotal: $@Model.Order.Subtotal</li>
        <li class="card-custom-li-item website-text card-custom-li-last-item">Tax: $@Model.Order.Tax</li>
    </ul>
</div>
